accounts:
  my_account_name:
    - profile: some_username
    - profile: some_other_username
    - profile: another_username
  my_other_account_name:
    - profile: some_username
    - profile: some_other_username
